ul .note-ref {
    list-style: none !important;
}

figure {
    margin: 20px;
    margin-bottom: 30px;
}

figcaption {
    font-style: italic;
    padding-left: 5px;
    text-align: left;
}

.fig-iterhmmbuild {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

p {
    text-align: justify;
}
