*.egg-info*
iterhmmbuild/datas/*
*/__pycache__/
test.html
venv
env_debug
.idea
prosecda/datas/prosecda_*
scripts/__pycache__/*.pyc
scripts/__pycache__/*cpython*
iterhmmbuild/__pycache__/main.cpython-38.pyc